/* main */




























/* debug */





.rectangular-place-holder {
    background-color: brown;
    height: 50px;
    width: 100px;
}

.bk-r {
    background-color: #ff0000;
}

.bk-b {
    background-color: blue;
}

.bk-g {
    background-color: green;
}