@media screen and (min-width: 768px) {
    

    /* main navigatio */

    #main-content > .main-nav-lg-view {
        width: 200px;
    }

    .main-nav-sm-view {
        display: none;
    }

    .main-nav-lg-view {
        display: inline-block;
    }







}