@media screen and (min-width: 768px) {
    

    /* main navigation */

    #main-content > .main-nav-lg-view {
        width: 200px;
    }

    .main-nav-sm-view {
        display: none;
    }

    .main-nav-lg-view {
        display: inline-block;
    }

    /* main body */
    
    #container-left {
        width: 60%;
    }
    
    #container-right {
        width: 40%;
    }
    






}