/*********
 *GENERAL*
 *********/

 * {
    font-family: 'Roboto', sans-serif;
 }










/********
*HEADER*
********/

#head-navigation {
    height: 50px;
}











/******
 *MAIN*
 ******/

 #main-content {
    height: calc(100vh - 50px);
    display: flex;
}

#main-content > section {
    height: 100%;
    width: 100%;
}

#main-content > .main-nav-sm-view {
    width: 100px;
}



    /* main navigator */

    .main-nav-lg-view {
        display: none;
    }

    #main-navigation {
        background-color: #051e34;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #general-main-search {
        flex-grow: 1;
        padding-top: 20px;
    }

    #main-navigation > div > div {
        margin: 20px auto;
        width: 100%;
        text-align: center;
    }
    
    #main-navigation > div > div > a {
        color: white;
        font-size: 20px;
        word-spacing: 10px;
        text-decoration: none;
    }
    



    /* main content */ 

    #main-container-ms {
        overflow: hidden;
        overflow-y: auto;
    }
    
    #main-container-ms > div {
        padding: 20px;
    }
     
    
        /* header */
        
        #main-header {
            background-color: #1b72e8;
            height: 100px;
        }



        /* body */

        #main-content-container {
            background-color: #f8f9fa;
            display: block;
            min-height: calc(100vh - 150px);
        }
        
        #container-left {
            width: 100%;
        }
        
        #container-right {
            width: 100%;
        }

        .main-info-container {
            margin: 20px;
            border-collapse: collapse;
        }
        
        .main-info-container > h2, .main-info-container > div {
            border: solid green 2px;
            margin: 0;
        }
        
        .main-info-container > div {
            padding: 10px;
        }
        
        .main-info-container img {
            width: 100%;
        }
        

        